@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body, h3{
    font-family: 'Lobster', cursive;
    text-align: center;
}

#txt-input{
    max-width: 80%;
    width:600px;
    height :10vh;
    margin : auto;
    margin-bottom:2rem;
    display:block;
    padding: 1rem;
    border: 1px solid black;

}


#output{
    max-width: 80%;
    width: 600px;
    height :10vh;
    margin : auto;
    margin-top: 2rem;
    display:block;
    padding: 1rem;
    border: 1px solid black;
}

#btn-translate{
    background-color: yellow;
    color: black;
    margin: auto;
    padding: 1rem ;
    font-size: large;

}



.banana-header{
    background-color: yellow;
    padding: 2rem;
    margin-bottom: 5rem;
}

.minion-footer{
    background-color: yellow;
    margin-top: 10rem;
    padding: 2rem;
    
    
}

.minion-img{
    height:auto;
    max-width: 30%;
}